*{
  color: white;
  /*overflow:hidden;*/
  font-family: 'Exo 2', sans-serif;
}
ul {
  list-style-type: none;
}
.information{
  display: none;
  position: absolute;
  left: 30vw;
  background: rgba(0,0,0,0.8);
  padding: 10px;
  margin: 0 auto;
  z-index: 9999;
  width: 40vw;
  height: 45vh;
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}
.show-params{
    font-size: 34px;
    z-index: 9999;
    background-color: #001744;
    border-radius: 100px;
    padding: 1.5%;
    opacity: 0.8;
    cursor: pointer;
    animation-name: pulse_animation;
    animation-duration: 2000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#in-pack{
  text-align: center;
}
#in-pack > li {
  margin-left: -10%;
  margin-top: 4%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 10% !important;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    left: 83% !important;
}
.carousel-control {
    width: 35% !important;
}
.left {
    width: 500px;
}
.item{
  max-height: 350px !important;
}
.products{
  height: 324px !important;
  margin: 0 auto;
}
#zestaw {
  background-color: white;
  color: #001744;
  padding: 15px;
  font-weight: 900;
}
.dark{
  background-color: #001744;
  color: white;
}
.light{
  background-color: #0077BC;
}
.next{
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 1px;
}
.form-group{
  width: inherit;
}

.dieta, .trening, .supl{
  border: 4px solid #0077BC;
}
.welcome{
  padding: 5%;
  margin-top: 2%;
  overflow: hidden;
  background-image: url('../qwe.jpg');
}

.hh{
  text-align: center;
  padding: 2%;
  padding-top: 0.5%;
  background-color: rgba(0, 119, 188, 0.9);
  border-radius: 2%;
}

.left{
  text-align: left;
  margin: 0 auto;
  width: 300px;
}

#info{
  display: block;
  width: 100%:
  font-size: 42px;
}
#info h4{
  width: 100%;
  color: white;
  text-align: center;
}
a:link{
  text-decoration: none!important;
}
#loading{
  font-size: 100px;
  margin-top: 5%;
  display:block;
  text-align:center;
}

body{
  background-color: #ededed;
}

strong{
  font-size: 1.5em;
  margin: 1em;
}

.radio{
  margin: 1.5em;
  margin-left: auto;
  width: inherit;
}

input[type=radio]{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0.5em 2em;
    width: 1.5em;
    height: 1.5em;
}

.page{
  position: absolute;
  display: none;
  width: 100%;
  background-color: #0077BC;
}

.center{
   margin: 0 auto;
}


.glyphicon-refresh-animate {
    -animation: spin .9s infinite linear;
    -webkit-animation: spin2 .9s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
